<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tetralytics</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
</head>

<body>
	<h1>-*v*- TetraLytics -*v*-</h1>
    <hr>
    <h3>Successfully added <%- uname %>!</h3>

    <img src=<%- url %> alt="pfp">

    <p>40L Sprint Record: <%- sprint %></p>
    <p>Tetra League Rank: <%- rank %></p>
    <p>TR: <%- tr %></p>
    <hr>

    <button type="button" onclick="window.location.href='/'">Go Back</button>
</body>
</html>
